<div>
  <cnt-flexy-view-abdullakh-bot-form-communication-1_0_0
    [payload]="getFormCommunication()"
    [pathToAssets]="testPathToAssetsRet()"
    (closeForm)="closeForm()"
    *ngIf="popupComplited"
  ></cnt-flexy-view-abdullakh-bot-form-communication-1_0_0>

  <cnt-flexy-view-abdullakh-bot-header-1_0_0
    [categories]="getHeader()"
    [pathToAssets]="testPathToAssetsRet()"
  ></cnt-flexy-view-abdullakh-bot-header-1_0_0>

  <cnt-flexy-view-abdullakh-bot-product-presentation-1_0_0
    [payload]="getProductPresentation()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-product-presentation-1_0_0>

  <cnt-flexy-view-abdullakh-bot-product-information-1_0_0
    [payload]="getProductInformation()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-product-information-1_0_0>

  <cnt-flexy-view-abdullakh-bot-transition-create-bot-1_0_0
    [payload]="getTransitionCreateBot()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-transition-create-bot-1_0_0>

  <cnt-flexy-view-abdullakh-bot-performance-and-benefits-1_0_0
    [payload]="getPerformanceAndBenefits()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-performance-and-benefits-1_0_0>

  <cnt-flexy-view-abdullakh-bot-consultation-1_0_0
    [payload]="gethConsultation()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-consultation-1_0_0>

  <cnt-flexy-view-abdullakh-bot-tariffs-1_0_0
    [payload]="getTariffs()"
    [pathToAssets]="testPathToAssetsRet()"
    (openForm)="openForm()"
  ></cnt-flexy-view-abdullakh-bot-tariffs-1_0_0>

  <cnt-flexy-view-abdullakh-universal-footer-1_0_0
    [categories]="getFooter()"
  ></cnt-flexy-view-abdullakh-universal-footer-1_0_0>

</div>
