<div>
  <s-abdullakh-form-communication
    (closeForm)="closeForm()"
    *ngIf="popupComplited"
  ></s-abdullakh-form-communication>
  <s-abdullakh-header
    [header]="getHeader()"
    (clickOnHeader)="clickOnHeader($event)"
  ></s-abdullakh-header>

  <s-abdullakh-product-presentation
    [ProductPresentation]="getProductPresentation()"
    (clickOnProductPresentation)="clickOnProductPresentation($event)"
    (openForm)="openForm()"
  ></s-abdullakh-product-presentation>

  <s-abdullakh-product-information
    [ProductInformation]="getProductInformation()"
    (clickOnProductInformation)="clickOnProductInformation($event)"
    (openForm)="openForm()"
  ></s-abdullakh-product-information>

  <s-abdullakh-transition-create-bot
    [TransitionCreateBot]="getTransitionCreateBot()"
    (clickOnTransitionCreateBot)="clickOnTransitionCreateBot($event)"
    (openForm)="openForm()"
  ></s-abdullakh-transition-create-bot>

  <s-abdullakh-performance-and-benefits
    [PerformanceAndBenefits]="getPerformanceAndBenefits()"
    (clickOnPerformanceAndBenefits)="clickOnPerformanceAndBenefits($event)"
    (openForm)="openForm()"
  ></s-abdullakh-performance-and-benefits>

  <s-abdullakh-consultation
    [Consultation]="gethConsultation()"
    (clickOnConsultation)="clickOnConsultation($event)"
    (openForm)="openForm()"
  ></s-abdullakh-consultation>

  <s-abdullakh-tariffs
    [Tariffs]="getTariffs()"
    (clickOnTariffs)="clickOnTariffs($event)"
    (openForm)="openForm()"
  ></s-abdullakh-tariffs>

</div>
